body {
  background: #fff;
}

h4 {
  font-size: 16px;
}

a, a:hover, a:visited, a:focus {
  text-decoration: none;
}


a{
	color:#73cfef;
}

a:hover{
	color:#3388a6;
}

.header #submit.mobile-submit-button, .header .mobile-signin-button {
  position: absolute;
  display: inline-block;
  padding: 4px;
  top: 50%;
  right: 10px;
  margin-top: -17px;
  text-align: center;
  width: 30px;
  z-index:100;
	border:none;
}

.header #submit.mobile-submit-button:hover{
	background-color: #3388a6;
	border:none;
}

.mobile-only.mobile-menu-button.button, 
.mobile-only.mobile-submit-button.button, 
.mobile-only.mobile-signin-button.button,
.btn-primary, 
.btn-primary:hover, 
.btn-primary:active, 
.btn-primary:focus{
	color:#fff;
	background-color:#73cfef;
	border:none;
}

.mobile-nav #submit.mobile-submit-button, .mobile-nav .mobile-signin-button {
  display: none;
  border:none;
}

a.upvote-link{
	color:#999;
}

