/** Post card thumbnail styles **/

.post-rank.post-module,
.post-category,
.single-post .posts .post .post-discuss.post-module {
	display: none;
}

.post-avatars .avatar {
	display: inline-block;
	width: 40px;
	height: 40px;
	vertical-align: middle;
}

.avatar-small .avatar-initials {
	font-size: 13px;
	line-height: 40px;
}

.posts.list.posts-grid .avatar-small {
	width: 24px;
	height: 24px;
}
.posts.list.posts-grid .avatar {
	width: 24px;
	height: 24px;
}

.post-heading{
	text-align: center;
}

.post-heading,
h3.post-heading .post-title {
	font-size: 14px;
	margin-top:0;
	color:#666;
}
.posts-grid .post{
	box-shadow: 1px 1px 8px #ccc;
	border:1px solid #eaeaea;
	padding-bottom:0;
	text-align: center;
}

.posts-grid .post{
	box-shadow:1px 1px 8px #ccc;
	border:1px solid #eaeaea;
}

.posts-grid .post:after{
	border:none;
}

.post-heading .post-domain {
  font-size: 12px;
}

.post-meta{
	text-align: center;
	font-size:12px;
}

.posts-grid .post-info{
	border-top:40px solid #f4f4f4;
}

.posts-grid .post-thumbnail a{
	max-height: 300px;
	overflow: hidden;
}



/** Icons Actions Bar **/

.post-info{
	position:relative;
}

.post-info .vote-actions,
.post-info .discuss-actions,
.post-info .share-actions{
	display:inline-block;
	position: absolute !important;
}

.upvoted .upvote-link,
.post-info .discuss-actions,
.post-info .share-actions .mt-facebook,
.post-info .share-actions .mt-twitter{
	opacity: .4	;
}

.post-info .vote-actions:hover,
.post-info .discuss-actions:hover,
.upvoted .upvote-link,
.post-info .share-actions .mt-facebook:hover,
.post-info .share-actions .mt-twitter:hover{
	opacity: 1;
}


/** Bar positioning **/

.post-heading .vote-actions{
	font-size:24px;
	top:-40px;
	left:10px;
}

.post-heading .discuss-actions{
	font-size:28px;
	top:-44px;
	right:85px;
}

.post-heading .share-actions{
  font-size: 26px;
  top: -40px;
  right: 15px;
 }



.post-heading .discuss-actions .action-count {
  position: absolute;
  top: 15px;
  left: 10px;
  font-size: 9px;
  color:#fff;
  font-weight: bold;
}


/** vote comments discuss **/

.post-heading .discuss-actions .discuss-link{
	color:#dfa60c;
}

.fa-heart:hover,
.upvoted .upvote-link {
  color: #DD3416 !important;
}

.vote-action .points{
	position: absolute;
	top:10px;
	left:8px;
	color:#fff;
	font-size:9px;
}

.post-meta .points,
.post-meta .unit{
	display: none;
}




/** sharing **/

.post-heading .share-actions .mt-facebook, .post-heading .share-actions .mt-twitter{
	background:none;
}

.post-heading .share-actions .mt-facebook{
	color:#3b5998;
}

.post-heading .share-actions .mt-twitter{
	color:#00acee;
}

a.mt-share-inline-square-sm{
	border: none;
	width:inherit !important;
}

.post-heading .share-actions .as-nativeshare {
	font-size: 28px;
	color: #666;
 }

/** General **/


.fa-line-chart {
  font-size: 20px;
}

.fa-line-chart.fa-stack-1x {
  line-height: 4.2em;
}

.fa-clock-o {
  font-size: 30px;
}

.fa-clock-o.fa-stack-1x {
  line-height: 2.8em;
}

.fa-star {
  font-size: 28px;
}

.fa-star.fa-stack-1x {
  line-height: 3em;
}

.fa-calendar-o, .fa-inbox, .fa-calendar {
  font-size: 24px;
}

.fa-calendar-o.fa-stack-1x, .fa-inbox.fa-stack-1x, .fa-calendar.fa-stack-1x {
  line-height: 3.4em;
}

/** Video Thumbnail **/

.post-thumbnail-has-video:after{
  content: '‣';
  font-size: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 36px;
  width: 36px;
  margin: -18px 0 0 -18px;
  line-height: 32px;
  text-align: center;
  color: white;
  display: block;
  z-index: 10;
  text-shadow: 0px 1px 2px rgba(0,0,0,0.5);
  background: rgba(0,0,0,0.4);
  border: 0px ;
  border-radius: 100%;

}
